@model DFlow.WebApp.Features.Tenants.TenantViewModel

<div class="form-horizontal">
    <h4>Datos Generales</h4>

    <div class="form-group">
        <label asp-for="Owner" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <p class="form-control-static">@Model.Owner</p>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Notes" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <p class="form-control-static">@Model.Notes</p>
        </div>
    </div>

</div>
