<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" value="Sí - Eliminar" class="btn btn-danger" />
        </div>
    </div>
</div>
